p{
font-size: large;
color: black;
}
.text-center{
font-size: 250%;
font-style:unset;
color: red;


}
.manoj{

font-size: large;
color: blue;


}
h4{
font-size: 200%;
color: turquoise;


}
p{

font: optional;
    color: rebeccapurple;
    font-style: oblique;
}